@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

@font-face {
  font-family: 'Avenir Next';
  src: url('./assets/fonts/AvenirNext-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('./assets/fonts/AvenirNext-Medium.ttf') format('truetype'); 
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('./assets/fonts/AvenirNext-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('./assets/fonts/AvenirNext-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

*, body{
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;   
  font-family: "Avenir Next", sans-serif !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
  transition: 0.2s;
}

mat-icon {
  font-family: 'Material Icons' !important;
}

.segment {
  z-index: 0;
  height: auto;
  min-height: 100%;
  position: relative;
  margin-bottom: 10%;
}

.segment-text {
  padding-top: 130px;
  margin-left: 20% !important;
  margin-right: 20% !important;
  padding-bottom: 130px;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 68px;
  color: #4A4A4A;
}

h2 {
  color: #FF8756;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
}

p {
  font-weight: 500;
  color: #4A4A4A;
}

a {
  color: #68BBCF;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

a:hover {
  color: #2C97B1;
}

.right-text {
  float: right;
}

.left-text {
  float: left;
}

.loading-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grey-text {
  color: #707070;
}
