#store .heading-text h1 {
    clear: both;
    text-transform: uppercase;
}

#store .heading-text {
    padding-bottom: 20px;
    text-align: center;
}

#store .back-link {
    text-transform: uppercase;
    float: left !important;
}

#store .stat-bar {
    width: 100%;
    height: 87px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding: 33px;
}

#store .stat-bar-secondary {
    width: 100%;
    height: 87px;
    background: rgba(104, 187, 207, 0.06);
    border-radius: 8px;
    padding: 33px;
}

#store h2 {
    text-transform: uppercase;
}

#store .subtext {
    line-height: 41px;
}

#store .markers *, #store .stat-elem *, #store .stat-elem-quarter *, #store .stat-bar *, #store .stat-bar-secondary * {
    white-space: nowrap;
    display: inline;
}

#store .stat-elem {
    float: left;
    display: flex;
    width: 33.3%;
}

#store .stat-elem-quarter {
  float: left;
  display: flex;
  width: 25%;
}

#store .shopsafe-score {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    display: flex;
    color: #FF8756;
}

#store .rating {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    display: flex;
    color: #FF8756;
    padding-left: 10px;
}

#store .stat-obj, #store .maps-button {
    background: rgba(104, 187, 207, 0.1);
    border-radius: 8px;
    padding: 10px 15px 10px;
    color: #68BBCF;
    margin-right: 15px;
}

#store .maps-button:hover {
  background: rgba(104, 187, 207, 0.3);
}

#store .stat-obj {
    cursor: auto;
}

#store #check-in-button {
    background: rgba(104, 187, 207, 0.1);
    border-radius: 8px;
    padding: 10px 15px 10px;
    color: #68BBCF;
    margin-right: 15px;
    border: none;
    font-weight: 600;
    width: 100%;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
}

#store #check-in-button:hover {
    background: rgba(104, 187, 207, 0.3);
}