<div id="store" class="segment">
    <div class="segment-text">
        <div class="heading-text">
            <h1>WHOLE FOODS MARKET</h1>
            <div id="store-id" hidden>12345</div>
            <p>
                5555 Street Ave. New York, NY 00000 US &nbsp; &nbsp; 
                <a class="maps-button">VIEW ON MAPS</a>
            </p>
        </div>
        <div class="stat-bar-wrapper">
            <div class="stat-bar">
                <div class="stat-elem">
                    <a class="stat-obj">TOTAL CASES</a>
                    <p>2334610</p>
                </div>
                <div class="stat-elem" style="text-align: center;">
                    <a class="stat-obj">TOTAL DEATHS</a>
                    <p>2334610</p>
                </div>
                <div class="stat-elem" style="text-align: right; margin-top: -5px">
                    <a class="stat-obj">SHOPSAFE SCORE</a>
                    <p class="shopsafe-score">8/10</p>
                </div>
            </div>
        </div>
        <button id='check-in-button' (click)="openModal()">CHECK IN AT THIS STORE</button>
        <div class="chart">
            <!-- TODO: integrate charts api -->
        </div>
    </div>
</div>