<div id="store" class="segment">
    <div class="segment-text">
        <div class="heading-text">
            <a class="back-link" (click)="goBack()"><i class="fas fa-long-arrow-alt-left"></i> &nbsp; Back to Results</a>
            <br/>
            <h1>{{ store.name }}</h1>
            <div id="store-id" hidden>{{ store.id }}</div>
            <p>
                {{ store.address }} &nbsp; &nbsp; 
                <a class="maps-button" (click)="redirectToMap()">VIEW ON MAPS</a>
            </p>
        </div>
        <div class="stat-bar-wrapper">
            <div class="stat-bar">
                <div class="stat-elem">
                    <a class="stat-obj">CHECKED IN</a>
                    <p>{{ store.reviewCount }}</p>
                </div>
                <div class="stat-elem" style="text-align: center;">
                    <a class="stat-obj">STATUS</a>
                    <p [ngStyle]="{'color': (store.open) ? '#7AC665' : '#FF5151'}"><b>{{ store.open ? 'OPEN' : 'CLOSED' }}</b></p>
                </div>
                <div class="stat-elem" style="text-align: right; margin-top: -5px">
                    <a class="stat-obj">SHOPSAFE SCORE</a>
                    <p class="shopsafe-score">{{ store.score }}/10</p>
                </div>
            </div>
        </div>
        <button id='check-in-button' (click)="openModal()">CHECK IN AT THIS STORE</button>
        <div class="chart">
            <!-- TODO: integrate charts api -->
        </div>
    </div>
</div>