#result .heading-text h1 {
    text-transform: uppercase;
}

#result .heading-text {
    padding-bottom: 20px;
    text-align: center;
}

#result .stat-bar {
    width: 100%;
    height: 87px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding: 33px;
}

#result h2 {
    text-transform: uppercase;
}

#result .right-text {
    float: right;
}

#result .subtext {
    line-height: 41px;
}

#result .left-text {
    float: left;
}

#result .stores-list-heading {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

#result .location-icon {
    font-size: 18px;
    color: #68BBCF;
    cursor: pointer;
}

#result .location-icon:hover {
  color: rgba(104, 187, 207, 0.3);
}

#result .stores-list-location {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding: 10px 15px 10px;
    text-transform: uppercase;
    color: #4A4A4A;
}

#result .stores-list-location:hover {
    background-color: rgb(255, 135, 86, 0.7);
}

#result .markers *, #result .stat-elem *, #result .stat-bar * {
    white-space: nowrap;
    display: inline;
}

#result .stat-elem {
    float: left;
    display: flex;
    width: 33.3%;
}

#result .shopsafe-score {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    display: flex;
    color: #FF8756;
}

#result .rating {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    display: flex;
    color: #FF8756;
    padding-left: 10px;
    cursor: auto;
}

#result .address {
    line-height: 0px;
}

#result .stat-obj {
    background: rgba(104, 187, 207, 0.1);
    border-radius: 8px;
    padding: 10px 15px 10px;
    color: #68BBCF;
    margin-right: 15px;
    cursor: auto;
}

#result .stores-list-item {
    clear: both; 
    padding-top: 20px;
}