<div id="landing" class="segment">
    <div class="segment-text">
        <div class="heading-text">
            <h1>ShopSafe</h1>
            <p>Information tool for safe, simple shopping during COVID-19.</p>
            <br/>
            <a href="/about">Learn more about this tool &nbsp; <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
        <form>
            <div class="input-container">
                <mat-icon class="search-icon">search</mat-icon>
                <input
                    class="input-field"
                    type="text"
                    placeholder="ENTER YOUR LOCATION TO FIND NEARBY GROCERY STORES"
                    name="search"
                    [(ngModel)]="location"
                    (keyup.enter) = "testOutput()"
                >
            </div>
        </form>
    </div>
</div>
