#landing .heading-text {
    padding-top: 100px;
    text-align: center;
}

#landing .heading-text a {
    text-transform: uppercase;
}

#landing .loc-button {
    
    width: fit-content;
    margin-left: 15px;
    margin-right: 12px;
    padding: 14px 14px 17px 14px;
    float: left;
    display: flex;
    background-color: #68bbcf;
    color: white;
    border-radius: 8px;
    cursor: pointer;

}

#landing .loc-button:hover {
    
    background-color: orange;
    transform: scale(1.07);

}

#landing .input-container {
    float: left;
    padding-top: 30px;
    display: flex;
    width: 60%;
    margin-bottom: 10px;
}

#landing .input-container .search-icon {
    padding: 12px 13px 10px;
    position: absolute;
    color: rgba(196, 196, 196);
}

#landing .input-field {
    width: 100%;
    padding: 15px 50px 15px;
    outline: none;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.03);
    border: none;
    font-weight: 500;
}

#landing .user-input {
    padding-top: 30px;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

#landing .input-container i {
    position: absolute;
}

#landing form {
    padding-top: 35px;
}