<div *ngIf="!loadingUserLatLng" id="landing" class="segment">
    <div class="segment-text">
        <div class="heading-text">
            <h1>ShopSafe</h1>
            <p>Information tool for safe, simple shopping during COVID-19.</p>
            <br/>
            <a [routerLink]="['/about']">Learn more about this tool &nbsp; <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
        <div class="user-input">            
            <app-search-bar (setAddress)="getAddress($event)"></app-search-bar>
            <div class = "loc-button" (click)="getUserLatLng()"><i class="fas fa-map-marked-alt"></i></div>
        </div>
        <p *ngIf="failedGeoLoc" style = "color: red;"> failed to get your location, enable location settings for our site or type in an address above.</p>
    </div>
</div>

<div *ngIf="loadingUserLatLng" class="loading-screen">
    <mat-spinner style="margin:0 auto;" 
    mode="indeterminate"></mat-spinner>
    <br/>
    <p>Fetching Location...</p>
 </div>
