#check-in-modal h2 {
    text-transform: uppercase;
}

#check-in-modal p {
    font-size: 13px;
    text-align: center;
}

#check-in-modal h2.title-text {
    text-align: center;
}

#check-in-modal mat-slider {
    margin-top: 11px;
    width: 220px;
    color: rgba(196, 196, 196, 0.2);
    text-align: right;
}

#check-in-modal .option {
    white-space: pre-line; 
}

#check-in-modal .left-text {
    width: 45%;
    clear: left;
}

#check-in-modal #submit-check-in-button {
    background: #68BBCF;
    border-radius: 8px;
    padding: 10px 15px 10px;
    color: #EEEEEE;
    margin-right: 15px;
    border: none;
    font-weight: 600;
    width: 100%;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
}

#check-in-modal #invalid-check-in {
    background: #bdbdbd;
    border-radius: 8px;
    padding: 10px 15px 10px;
    color: #EEEEEE;
    margin-right: 15px;
    border: none;
    font-weight: 600;
    width: 100%;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
}

#check-in-modal #submit-check-in-button:hover {
    background: rgba(104, 187, 207, 0.3);
    color: #68BBCF;
}

#check-in-modal .mat-tooltip {
    font-size: 13px !important;
}