<div id="check-in-modal">
    <h2 class="title-text">Check-In Form</h2>
    <p>Use the sliders to input the statuses of the store to check in. High values indicates a good status, and low values indicate a bad status.</p>
    <div class="modal-content">
        <div class="option">
            <h2 class="left-text">
                Busy &nbsp; 
                <a 
                matTooltip="How busy the store is, in terms of the crowd inside the store 
                            (ie. is there enough space to maintain 6 feet of distance? 1 indicates very busy (bad), 
                            and 10 indicates not busy at all (good).">
                    <i class="far fa-question-circle"></i>
                </a>
            </h2>
            <mat-slider
                [(ngModel)]="busy"
                min="1" 
                max="10" 
                step="1" 
                class="right-text"
                thumbLabel tickInterval="1"
            ></mat-slider>
        </div>
        <div class="option">
            <h2 class="left-text">
                Line &nbsp; 
                <a 
                matTooltip="How long the line is to get into the store from the outside. 
                            1 indicates very long (bad), and 10 indicates not long at all (good).">
                    <i class="far fa-question-circle"></i>
                </a>
            </h2>
            <mat-slider
                [(ngModel)]="line"
                min="1" 
                max="10" 
                step="1" 
                class="right-text"
                thumbLabel tickInterval="1"
            ></mat-slider>
        </div>
        <div class="option">
            <h2 class="left-text">
                Hygiene &nbsp; 
                <a 
                matTooltip="How clean is the store overall? Are the shared carts, 
                            baskets, and surfaces sanitized? 1 indicates poor hygiene 
                            (bad) and 10 indicates good hygiene (good)."
                matTooltipClass="tooltip"
                >
                    <i class="far fa-question-circle"></i>
                </a>
            </h2>
            <mat-slider 
                [(ngModel)]="hygiene"
                min="1" 
                max="10" 
                step="1" 
                class="right-text"
                thumbLabel tickInterval="1"
            ></mat-slider>
        </div>
        <div class="option">
            <h2 class="left-text">
                Mask &nbsp; 
                <a 
                matTooltip="Is the store strict on masks? Are the customers and workers 
                            wearing masks properly? 1 indicates no to little mask policy 
                            and presence (bad) and 10 indicates excellent mask usage (good).">
                    <i class="far fa-question-circle"></i>
                </a>
            </h2>
            <mat-slider
                [(ngModel)]="mask"
                min="1" 
                max="10" 
                step="1" 
                class="right-text"
                thumbLabel tickInterval="1"
            ></mat-slider>
        </div>
    </div>
    <button id='submit-check-in-button' (click) = "checkIn()">CHECK IN AT THIS STORE</button>
</div>
