<div id="check-in-modal">
    <h2 class="title-text">Check-In Form</h2>
    <p>Use the sliders to input the statuses of the store to check in. High values indicates a good status, and low values indicate a bad status.</p>
    <div class="modal-content">
        <div class="option">
            <h2 class="left-text">
                Social Distancing &nbsp; 
                <a 
                matTooltip="How crowded is it inside the store? Essentially, is there 
                            enough space to social distance, maintain 6 feet? 0 indicates 
                            very busy (bad), and 10 indicates not busy at all (good)">
                    <i class="far fa-question-circle"></i>
                </a>
            </h2>
            <div class="slider" class="right-text grey-text">
              <i class="far fa-frown"></i>
              &nbsp;
              <mat-slider
                  [(ngModel)]="socDis"
                  (click) = "socDisSlider = true"
                  [disabled]="!socDisSlider"
                  min="0" 
                  max="10" 
                  step="1"
                  thumbLabel tickInterval="1"
              ></mat-slider>
              &nbsp;
              <i class="far fa-smile"></i>
            </div>
        </div>
        <div class="option">
            <h2 class="left-text">
                Service Speed &nbsp; 
                <a 
                matTooltip="Is there a line to get into the store from the outside? Are 
                            there lines inside the store? How long was the wait? 0 indicates 
                            long waits (bad), and 10 indicates minimal waits (good)">
                    <i class="far fa-question-circle"></i>
                </a>
            </h2>
             <div class="slider" class="right-text grey-text">
              <i class="far fa-frown"></i>
              &nbsp;
              <mat-slider
                  [(ngModel)]="waitTime"
                  (click)="waitTimeSlider=true"
                  [disabled]="!waitTimeSlider"
                  min="0" 
                  max="10" 
                  step="1" 
                  thumbLabel tickInterval="1"
              ></mat-slider>
              &nbsp;
              <i class="far fa-smile"></i>
            </div>
        </div>
        <div class="option">
            <h2 class="left-text">
                Cleanliness &nbsp; 
                <a 
                matTooltip="How clean is the store overall? Are the shared carts, 
                            baskets, and surfaces sanitized? 0 indicates poor hygiene 
                            (bad), and 10 indicates good hygiene (good)"
                >
                    <i class="far fa-question-circle"></i>
                </a>
            </h2>
            <div class="slider" class="right-text grey-text">
              <i class="far fa-frown"></i>
              &nbsp;
              <mat-slider
                  [(ngModel)]="clean"
                  (click)="cleanSlider = true"
                  [disabled]="!cleanSlider"
                  min="0" 
                  max="10" 
                  step="1"
                  thumbLabel tickInterval="1"
              ></mat-slider>
              &nbsp;
              <i class="far fa-smile"></i>
            </div>
        </div>
        <div class="option">
            <h2 class="left-text">
                Mask Usage &nbsp; 
                <a 
                matTooltip="How strict is the store with masks? Are the customers and workers 
                            wearing masks properly? 0 indicates no to little mask policy 
                            and presence (bad), and 10 indicates excellent mask usage (good)">
                    <i class="far fa-question-circle"></i>
                </a>
            </h2>
             <div class="slider" class="right-text grey-text">
              <i class="far fa-frown"></i>
              &nbsp;
              <mat-slider
                  [(ngModel)]="msk"
                  (click)="maskSlider = true"
                  [disabled]="!maskSlider"
                  min="0" 
                  max="10" 
                  step="1" 
                  thumbLabel tickInterval="1"
              ></mat-slider>
              &nbsp;
              <i class="far fa-smile"></i>
            </div>
        </div>
    </div>
    <button *ngIf = "maskSlider && cleanSlider && waitTimeSlider && socDisSlider" 
        id='submit-check-in-button'
        (click) = "checkIn()">
            CHECK IN AT THIS STORE
    </button>
    <button *ngIf = "!maskSlider || !cleanSlider || !waitTimeSlider || !socDisSlider" 
        id='invalid-check-in'
        (click) = "fCheckIn()">
        CHECK IN AT THIS STORE
    </button>
    <p *ngIf = "failedCheckIn" style = "color: red;"> Please, place a rating for all categories</p> 
</div>
