<div id="title" class="segment">
    <div class="segment-text">
        <div class="heading-text">
            <h1>Feedback Forms</h1>
            <p>Help us improve ShopSafe by giving us feedback!</p>
        </div>

        <div class="section">
            <h2><i class="fas fa-shopping-cart"></i> User Experience Form</h2>
            <div class="box">
                <p>
                   Let us know what your experience with ShopSafe was like by filling out this
                   <a href="https://docs.google.com/forms/d/e/1FAIpQLSeagc76SWGCG8LTBVM_ZrWZAjAoGeH2fjI2fWR15o9Z-x7J-Q/viewform?usp=sf_link">
                    form
                    </a>. 
                </p>
            </div>
        </div>

        <div class="section">
            <h2><i class="fas fa-bug"></i> Bug Reporting</h2>
            <div class="box">
                <p>
                    We make mistakes, help us fix them by reporting them 
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLScJviEPTKH7Z9aITFulbhgrAc5v3GGlW24ttIoHU-2pe7Fz4g/viewform?usp=sf_link">
                        here
                    </a>. 
                </p>
            </div>
        </div>
        
    </div>
</div>
