<div id="about" class="segment">
    <div class="segment-text">
        <div class="heading-text">
            <h1>ABOUT</h1>
            <p>Learn more about this tool, its developers, and its usages.</p>
        </div>
        <div class="section">
            <h2>Philosophy</h2>
            <div class="box">
                <p>
                    ShopSafe is a tool designed to help ease the decision fatigue that comes with 
                    deciding what is the safest place to go shopping during COVID-19. The purpose 
                    of this tool is to provide a crowdsourced method of evaluating how safe a 
                    grocery store is to go to in order to provide a more informed shopping experience.
                </p>
            </div>
        </div>
        <div class="section">
            <h2>Usage</h2>
            <div class="box">
                <p>
                    This tool is meant to be used in concurrence with good judgement and awareness 
                    of local regulations. The ShopSafe Score is calculated using the check-in and 
                    county statistics based on user input and the New York Times COVID-19 dataset. 
                    This is in no means a deterministic metric but rather a decision-making tool.
                </p>
            </div>
        </div>
        <div class="section">
            <h2>Creators</h2>
            <div class="box">
                <p>
                    This application is created by Gabriel Stewart, Raul Palomo, and Carol Li under 
                    their 2020 Google Internship. 
                </p>
            </div>
        </div>
        
    </div>
</div>
