<div id="about" class="segment">
    <div class="segment-text">
        <div class="heading-text">
            <h1>ABOUT</h1>
            <p>Learn more about this tool, its developers, and its usages.</p>
        </div>

        <div class="section">
            <h2>Philosophy</h2>
            <div class="box">
                <p>
                    ShopSafe is a tool designed to help ease the decision fatigue that comes with 
                    deciding what is the safest place to go shopping during COVID-19. The purpose 
                    of this tool is to provide a crowdsourced method of evaluating the safety of 
                    a grocery store to give users a more informed shopping experience.
   
                </p>
            </div>
        </div>

        <div class="section">
            <h2>Instructions</h2>
            <div class="box">
                <p>
                    To use Shopsafe, enter an address <b>within the United States</b> to find a list of
                    grocery stores rendered for each specific location. Click on each location to see the
                    Shopsafe Score, county COVID-19 statistics, and check-in statistics for each location.
                    Make sure to check in by clicking on the check-in button and submitting your review in 
                    order to help refine the ShopSafe Score.
                </p>
            </div>
        </div>

        <div class="section">
            <h2>Usage</h2>
            <div class="box">
                <p>
                    This tool is meant to be used in concurrence with good judgement and awareness 
                    of local regulations. The ShopSafe Score is calculated using the check-in and 
                    county statistics based on user input and the New York Times COVID-19 dataset. 
                    That is to say, this is not a deterministic metric, but rather a decision-making tool.
                </p>
            </div>
        </div>

        <div class="section">
            <h2>Creators</h2>
            <div class="box">
                <p>
                    This application is created by <a href="mailto:gabrielstewart@google.com">Gabriel Stewart</a>, 
                    <a href="mailto:raulpalomo@google.com">Raul Palomo</a>, and <a href="mailto:caroljli@google.com">Carol Li</a> 
                    under their 2020 Google Internship. Inquiries can be sent to them.
                </p>
            </div>
        </div>

        <div class="section">
            <h2>License and Attributions</h2>
            <div class="box">
                <p>
                    Copyright 2020 Google LLC. Licensed under the Apache License, Version 2.0 (the "License"); you 
                    may not use this file except in compliance with the License. You may obtain a copy of the License 
                    at https://www.apache.org/licenses/LICENSE-2.0. This product uses the FCC Data API but is not
                    endorsed or certified by the FCC.
                </p>
            </div>
        </div>
        
    </div>
</div>
