.input-container {
    padding-top: 30px;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.input-container .search-icon {
    padding: 12px 13px 10px;
    position: absolute;
    color: rgba(196, 196, 196);
}

.input-field {
    width: 100%;
    padding: 15px 50px 15px;
    outline: none;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.03);
    border: none;
    font-weight: 500;
}

.input-container i {
    position: absolute;
}

form {
    padding-top: 35px;
}

.input-field:disabled {
  background: rgba(0, 0, 0, 0.09);
  color: rgba(0, 0, 0, 0.1);
}